html {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Fira Sans', sans-serif;
	background-image: url(".perseus/static/images/trees.jpg");
	background-size: cover;
	/* background: rgb(185, 219, 235);
	background: linear-gradient(115deg, rgb(8, 154, 223) 0%, rgb(187, 57, 247) 100%); */
	color: #0d553c;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	display: flex;
	height: 100%;
	justify-content: center;
}

.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.inner {
	padding: 3rem;
	background: #f3fff0cc;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	margin: 7rem;
	flex-grow: 1;
}

.acrylic {
	background: rgba(255, 255, 255, 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.border-clear {
	border: 1px rgba(0, 0, 0, 0) solid;
	border-radius: 2rem;
}

.self-image {
	width: 12rem;
	height: 12rem;
	border: 1px rgba(0, 0, 0, 0) solid;
	border-radius: 2rem;
}

.self-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.self-title {
	text-align: center;
	font-weight: normal;
	font-size: 3rem;
}

.summary-text {
	padding: 1rem;
	max-width: 40%;
	font-size: 1.2rem;
}

.site-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-item {
	list-style: none;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	width: 100%;
}

.site-link {
	color: white;
	text-decoration: none;
	border: 1px rgba(0, 0, 0, 0) solid;
	border-radius: 0.375rem;
	padding: .8em;
	background: linear-gradient(to left, #04C4B2, #1D976C);
	display: block;
	text-align: center;
	width: 30%;
}

.site-link:hover {
	background: rgba(4, 196, 177, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}